.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}
.btn {
  width: 30%;
  padding: 12px 34px;
  border-radius: 20px;
  background-color: #524fe8;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgb(4, 194, 4);
  transform: scale(1.05);
}
