.navbar-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 15px;
  background-color: #fff;
  padding-inline: 15%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  &__list {
    display: flex;
    gap: 15%;
    align-items: center;
    list-style: none;
    margin-right: 8%;
    text-transform: uppercase;
  }
  &__link {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: rgb(21, 29, 65);
    font-weight: 700;
  }
}
